@inherits UmbracoViewPage<IPublishedContent>

 @{
    var homePage = Model.Site();
    var settings = homePage.Descendants("globalSettings").FirstOrDefault();

    if (settings == null)
    {
        return;
    }

    var facebook = settings.GetPropertyValue<string>("facebookUrl");
    var twitter = settings.GetPropertyValue<string>("twitterUrl");
    var linkedin = settings.GetPropertyValue<string>("linkedinUrl");

    var AddressTitle = Model.GetPropertyValue<string>("addressHeadline");
    var AddressLineOne = Model.GetPropertyValue<string>("addressLine1");
    var AddressLineTwo = Model.GetPropertyValue<string>("addressLine2");
    var AddressLineThree = Model.GetPropertyValue<string>("addressLine3");
    var AddressLineFour = Model.GetPropertyValue<string>("addressLine4");
    var AddressLineFive = Model.GetPropertyValue<string>("addressLine5");
    var hasAddressTitle = !string.IsNullOrWhiteSpace(AddressTitle);
    var hasAddressLineOne = !string.IsNullOrWhiteSpace(AddressLineOne);
    var hasAddressLineTwo = !string.IsNullOrWhiteSpace(AddressLineTwo);
    var hasAddressLineThree = !string.IsNullOrWhiteSpace(AddressLineThree);
    var hasAddressLineFour = !string.IsNullOrWhiteSpace(AddressLineFour);
    var hasAddressLineFive = !string.IsNullOrWhiteSpace(AddressLineFive);
    var hasAddressContent = hasAddressTitle || hasAddressLineOne || hasAddressLineTwo || hasAddressLineThree || hasAddressLineFour || hasAddressLineFive ? true : false;

    var TelephoneNumber = Model.GetPropertyValue<string>("telephoneNumberMain");
    var TelephoneNumberSec = Model.GetPropertyValue<string>("telephoneNumberSecondary");
    var TelephoneTitle = Model.GetPropertyValue<string>("telephoneHeadline");
    var hasTelephoneTitle = !string.IsNullOrWhiteSpace(TelephoneTitle);
    var hasTelephoneNumber = !string.IsNullOrWhiteSpace(TelephoneNumber);
    var hasTelephoneNumberSec = !string.IsNullOrWhiteSpace(TelephoneNumberSec);
    var hasTelephoneContent = hasTelephoneNumber || hasTelephoneNumberSec ? true : false;

    var EmailAddress = Model.GetPropertyValue<string>("emailAddress");
    var EmailTitle = Model.GetPropertyValue<string>("emailAddressHeadline");
    var hasEmailTitle = !string.IsNullOrWhiteSpace(EmailTitle);
    var hasEmailAddress = !string.IsNullOrWhiteSpace(EmailAddress);
    var hasEmailContent = hasEmailTitle || hasEmailAddress ? true : false;
}    

<section class="c-contact c-contact__details u-space-bottom">
    <h3 class="u-alpha u-underline">Contacts</h3>

    @if(hasAddressContent){
        <div>
            @if(hasAddressTitle){
                <h4 class="u-beta u-space-top">@AddressTitle</h4>
            }
        </div>
        <address>
            <ul class="c-contact__address">
                @if(hasAddressLineOne){
                    <li>@AddressLineOne</li>
                }
                @if(hasAddressLineTwo){
                    <li>@AddressLineTwo</li>
                }
                @if(hasAddressLineThree){
                    <li>@AddressLineThree</li>
                }
                @if(hasAddressLineFour){
                    <li>@AddressLineFour</li>
                }
                @if(hasAddressLineFive){
                    <li>@AddressLineFive</li>
                }
            </ul>
        </address>
    }

    @if(hasTelephoneContent){
        <div>
            @if(hasTelephoneTitle){
                <h4 class="u-beta u-space-top">@TelephoneTitle</h4>
            }
            @if(hasTelephoneNumber){
                <a href="tel:020456314" class="c-contact__tel">@TelephoneNumber</a><br/>
            }
            @if(hasTelephoneNumberSec){
                <a href="tel:020456314" class="c-contact__tel">@TelephoneNumberSec</a>
            }
        </div>
    }
    @if(hasEmailContent){
        <div>
            @if(hasEmailTitle){
                <h4 class="u-beta u-space-top">@EmailTitle</h4>
            }
            @if(hasEmailAddress){
                <strong><a href="mailto:@EmailAddress" class="c-contact__email">@EmailAddress</a></strong>
            }
        </div>
    }       

    <div class="u-space-top c-contact__social">
        @Html.Partial("~/Views/Partials/Page/SocialLinks.cshtml")
    </div>
</section>